[Unit]
Description=Monitoring Processes
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/process_monitoring.sh
Restart=always

[Install]
WantedBy=multi-user.target